################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Quorum.Test/obj
/Quorum.Test/.vs
/Quorum.Test/bin/Debug/net8.0
